{
  "presets": [
    "@babel/react",
    "@babel/preset-env"
  ]

  ,"plugins": [
    [
          "@babel/plugin-proposal-decorators",
          {
            legacy: true,
          },
        ],
    "@babel/transform-react-constant-elements",
    ['@babel/plugin-proposal-class-properties', { loose: true }],
    "@babel/transform-react-inline-elements",
    "@babel/transform-runtime"

  ]
}
